@import "lib/project", "lib/mixins", "lib/smart-grid";
@import "lib/wrappers", "lib/helpers";
.food-menu {
  display: flex;
  overflow: hidden;

  margin: 0 -15px;
  margin-top: 9px;
  padding: 0;

  list-style: none;

  border-top: 1px solid $c-delim-gray;

  font-family: "Lobster";
  font-style: normal;

  &__item {
    padding: 0 .5px;
  }

  &__link {
    position: relative;

    display: block;

    padding: 8px 12px;

    color: black;

    font-size: 16px;
    line-height: 1;

    &::after {
      position: absolute;
      right: -1px;
      bottom: 14px;

      width: 1px;
      height: .7em;

      content: "";

      background-color: $c-delim-gray;
    }

    &--active {
      color: $c-white;
      background-color: $c-yellow;
    }
  }
}

.page-header {
  position: relative;

  &__top {
    position: relative;

    display: flex;

    padding-left: 80px;
  }

  &__logo {
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
  }

  &__phone {
    text-align: right;
  }

  &__call {
    margin-top: 0;
    margin-bottom: 0;

    color: $c-lightgray;

    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    line-height: 14px;

    &-link {
      padding-left: 35px;

      text-decoration: none;

      color: $c-gray;
      background-image: url("../img/phone.png");
      background-repeat: no-repeat;
      background-position: left center;

      font-family: "Lobster";
      font-size: 30px;
    }
  }
}

.main-menu {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: -15px;
  left: -15px;

  overflow: hidden;

  margin-top: 10px;

  transition-duration: .3s;
  transform: scaleY(0);
  transform-origin: top;
  text-align: center;

  background-color: $c-white;

  font-size: 15px;
  font-style: normal;

  .btn {
    margin-bottom: 40px;
  }

  &__list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    list-style: none;
  }

  &__item {
    text-align: center;

    border-bottom: 1px solid $c-bg-lightgray;
    &--active {
      background-color: $c-red;

      .main-menu__link {
        color: $c-white;
      }
    }
  }

  &__link {
    display: block;

    padding: 16px 0;

    text-align: center;

    color: black;
  }
}

.menu-control {
  width: 45px;
  height: 45px;
  margin-left: auto;

  border: 0;
  border-radius: 50%;
  background-color: $c-bg-gray;

  font-size: 0;

  &__inner {
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
  }

  &__hamburger {
    position: relative;

    display: block;

    width: 22px;
    height: 2px;

    transition-duration: .3s;

    background-color: $c-white;

    &::before,
    &::after {
      position: absolute;
      right: 0;
      left: 0;

      height: 2px;

      content: "";
      transition-duration: .3s;
      transform-origin: center;

      background-color: $c-white;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }

  &--active {
    outline: 0;
    background-color: $c-yellow;
    .menu-control__hamburger {
      background-color: transparent;

      &::before {
        top: 0;

        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;

        transform: rotate(-45deg);
      }
    }

    & + .main-menu {
      transform: scaleY(1);
    }
  }
}
.headline-banner {
  height: 82px;
  margin-top: 20px;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
  padding-top: 15px;

  text-align: center;

  background-image: url("../img/bg-banner.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 99px;

  font-family: "Lobster";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}


.product {
  margin-bottom: 21px;

  box-shadow: 0 0 25px 1px rgba(0, 0, 0, .1);

  &__description {
    padding: 15px;

    background-color: $c-white;
  }

  &__name {
    margin: 0;
    margin-bottom: 9px;

    color: $c-gray;

    font-family: "Lobster";
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
  }

  &__text {
    margin: 0;

    color: $c-lightgray;

    font-size: 13px;
    line-height: 16px;
  }

  &__weight {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 18px;

    color: $c-lightgray;
  }

  &__buy {
    display: flex;

    margin: 0 -15px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 5px;

    border-top: 2px dashed $c-bg-gray;

    justify-content: space-between;
  }

  &__price {
    font-family: "Lobster";
    font-size: 22px;
    font-style: normal;
  }
}

.btn {
  padding-right: 30px;
  padding-left: 30px;

  color: $c-white;
  border: 0;
  border-radius: 20px;
  background-color: $c-yellow;

  font-family: Helvetica;
  font-size: 15px;
  font-style: italic;
  line-height: 40px;

  &--buy {
    position: relative;

    padding-right: 15px;
    padding-left: 30px;

    border-radius: 15px;

    line-height: 30px;

    &::before {
      position: absolute;
      top: 7px;
      left: 7px;

      width: 16px;
      height: 16px;

      content: "";

      border-radius: 50%;
      background-image: url("../img/plus.svg");
      background-size: contain;
    }
  }

  &--call {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;

    text-align: center;
  }

  &--cart {
    position: relative;

    padding-right: 20px;
    padding-left: 35px;

    border-radius: 15px;
    background-color: $c-red;

    font-family: "Lobster";
    font-style: normal;
    line-height: 27px;;

    &::before {
      position: absolute;
      top: 6px;
      left: 10px;

      width: 16px;
      height: 16px;

      content: "";

      border-radius: 50%;
      background-image: url("../img/confirm.png");
    }
  }
}


.page-footer {
  position: relative;

  margin: 0 -15px;
  margin-top: 50px;
  padding: 15px;

  color: $c-white;
  background-color: $c-gray;
  background-image: url("../img/grass.png");
  background-repeat: no-repeat;
  background-position: bottom right;

  &::before {
    position: absolute;
    top: -30px;
    right: 0;

    width: 234px;
    height: 249px;

    content: "";

    background-image: url("../img/plate.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__slogan-wrap {
    display: flex;

    align-items: flex-start;
  }

  &__slogan {
    margin: 0;
    padding: 0;

    font-size: 14px;
  }

  &__copy {
    margin: 0 -15px;
    margin-top: 50px;
    padding: 15px;
    padding-bottom: 0;

    border-top: 1px solid $c-lightgray;
  }

  &__mir {
    color: $c-lightgray;

    font-size: 13px;
    font-weight: 100;
  }

  &__link {
    padding: 0;

    color: white;
    border-bottom: 1px solid;
  }

  a {
    color: $c-white;
  }
}

.footer-menu {
  list-style: none;

  a {
    color: $c-white;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;

  padding: 0;

  list-style: none;

  font-size: 14px;
  font-weight: 100;
  line-height: 1.5;

  &__item {
    margin: 3px 0;
  }

  &__link {
    border-bottom: 1px solid $c-lightgray;
  }
}

.social {
  display: flex;

  width: 100px;
  margin-left: 1em;

  justify-content: space-between;

  &__link {
    width: 28px;
    height: 28px;

    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;

    font-size: 0;

    &--vk {
      background-image: url("../img/icon-vk.png");
    }
    &--insta {
      background-image: url("../img/icon-insta.png");
    }
    &--fb {
      background-image: url("../img/icon-fb.png");
    }
  }
}

.modal-call {
  position: fixed;
  top: 0;
  left: calc(50% - 160px);

  display: none;

  width: 320px;
  height: 100vh;

  background-color: rgba(0, 0, 0, .5);

  &--open {
    display: block;
  }

  &__close {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 15px;

    border: 0;
    background-color: transparent;

    span {
      text-decoration: underline;

      color: white;

      font-family: Helvetica, sans-serif;
      font-size: 16px;
      font-style: italic;
      line-height: 30px;
    }

    &::after {
      display: inline-block;

      width: 30px;
      height: 30px;

      content: "";
      vertical-align: bottom;

      background-image: url("../img/close.svg");

      line-height: 30px;
    }
  }

  &__wrap {
    position: relative;

    padding: 30px;
    padding-bottom: 63px;

    text-align: center;

    background-color: white;

    &::after {
      position: absolute;
      bottom: -80px;
      left: 0;

      width: 100%;
      height: 151px;

      content: "";

      background-image: url("../img/plate-full.png");
      background-repeat: no-repeat;
      background-position: 75px 0;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 10px;

    font-family: "Lobster";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
  }

  &__text {
    color: #9a9a9a;
  }

  &__field {
    position: relative;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;

    transition-duration: .2s;
    transform: translate(-50%, -50%);
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 30px;

    text-align: center;

    border: 1px solid #9a9a9a;
    border-radius: 21px;
    outline: 0;

    line-height: 16px;;

    &:invalid {
      border-color: red;
      background-color: #ffeded;
    }
  }

  &__input:focus + &__label {
    top: 0;

    transform: translate(-50%, -100%);

    font-size: 10px;
  }

  &__input + &__label {
    font-size: 0;
  }
}

.cart {
  display: none;

  &__overlay {
    position: fixed;
    top: 0;
    left: calc(50% - 160px);

    display: none;

    width: 320px;
    height: 100vh;

    background-color: rgba(0, 0, 0, .5);
  }

  &__inner {
    position: absolute;
    bottom: 45px;
    left: 0;

    width: 100%;
    padding: 15px;

    background-color: $c-white;
  }

  &__order-name {
    margin: 0;

    font-family: "Lobster";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
  }

  &__item-name {
    margin: 0;
    margin-top: 25px;

    font-family: "Lobster";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
  }

  &__list {
    overflow: auto;

    max-height: 50vh;
    margin: 0;
    padding: 0;

    list-style: none;
  }


  &__item-order {
    display: flex;

    margin-top: 15px;
  }

  &__item-price,
  &__item-sum {
    width: 75px;

    color: #6c6c6c;

    font-size: 14px;
    line-height: 16px;
  }

  &__buy {
    display: flex;

    width: 85px;
    margin: 0 10px;
    padding: 0 10px;

    text-align: center;

    border-radius: 20px;
    background-color: $c-yellow;

    align-items: center;
    justify-content: space-between;
  }

  &__qnt-control {
    position: relative;

    display: block;

    width: 16px;
    height: 16px;

    color: $c-yellow;
    border-radius: 50%;
    background-color: $c-white;

    font-size: 0;
    font-weight: bold;

    &::before,
    &::after {
      position: absolute;
      top: 7px;
      left: 3px;

      width: 10px;
      height: 2px;

      content: "";

      background-color: $c-yellow;
    }

    &:last-of-type::after {
      transform: rotate(90deg);
      transform-origin: center;
    }
  }

  &__item-qnt {
    width: 25px;

    text-align: center;

    color: white;
    border: 0;
    background-color: $c-yellow;

    font-family: "Lobster";
  }

  &__item-del {
    position: relative;

    width: 30px;
    height: 30px;
    margin-left: 10px;

    border-radius: 50%;
    background-color: #dddddd;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 2px;
      height: 17px;

      content: "";
      transform: translate(-50%, -50%) rotate(45deg);

      background-color: white;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__content {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: calc(50% - 160px);

    display: flex;

    width: 320px;
    padding: 10px 15px;

    background-color: $c-white;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .1);

    align-items: center;
  }

  &__qnt {
    margin-left: 28px;
    padding: 0 10px;

    text-align: center;

    color: white;
    border-radius: 13px;
    background-color: $c-red;

    font-family: "Lobster";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 26px;

    &::before {
      position: absolute;
      top: 50%;
      left: 15px;

      width: 16px;
      height: 21px;

      content: "";
      transform: translateY(-50%);

      background-image: url("../img/shopping-bag.png");
    }
  }

  &__price {
    margin-right: auto;
    margin-left: 10px;

    font-family: "Lobster";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
  }
}

.delivery-info {
  color: $c-lightgray;

  font-size: 13px;
  line-height: 16px;
  &__headline {
    margin: 0;
    margin-bottom: 9px;

    color: $c-gray;

    font-family: "Lobster";
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
  }

  &__text {
    margin-bottom: 1em;

    &--icon {
      padding-left: 50px;
    }
  }

  &__text {
    margin-bottom: 1em;

    &--icon {
      padding-left: 50px;

      background-repeat: no-repeat;
      background-position: left center;
    }

    &--visa {
      background-image: url("../img/credit_card.png");
    }

    &--cash {
      background-image: url("../img/courier.png");
    }
  }

  &__list {
    padding: 0;

    list-style: none;
  }

  &__district {
    margin-left: 15px;
    padding-left: 5px;

    list-style: "—";
  }

  &__list-header {
    display: block;
    &:first-of-type {
      margin-top: 40px;
    }
  }
}
